#vertical-line {
  position: fixed;        /* or absolute relative to body */
  top: 0;
  bottom: 0;
  left: calc((100% / 12) * 11 - 1rem);
  width: 1px;             /* thickness */
  background-color: #BAAA5A;
  z-index: -1;             /* behind everything */
   transform: scaleY(0);    /* start collapsed */
  transform-origin: top;   /* animation grows from top */
  transition: transform 1s ease-out; /* duration and easing */
}

/* When you want it to animate */
#vertical-line.animate {
  transform: scaleY(1);    /* expand to full height */
}


.highlight-name{
    color: #BAAA5A;
}


#grid-container-about-me{ 
     box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 1rem;
  width: 100%;         /* shrink for small screens */
  margin: 0 auto;      /* center on page */
  padding: 0 24px;     /* side breathing room */
}

#get-in-touch-title{
    grid-column: 2 / 11;
    padding-top: 2rem;
    color: #f7f5f8;
    font-family: 'Bluu Next';
    font-size: 7.2rem;
    line-height: 1.1;
    white-space: normal;
    
}

#get-in-touch-subheader{
    display: inline-flex;
    gap: 10px;
    grid-column: 2 / 8;
    color: rgb(189, 192, 194);
    font-family: Urbanist;
    font-weight: 500;
    font-size: 1.4rem;
}



#get-in-touch-details-1{
    display: inline-flex;
    gap: 10px;
    font-family:monospace;
    grid-row: 4;
    grid-column: 2 / 5;
    color: aliceblue;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.8;
}


#get-in-touch-details-right{
    display: inline-flex;
    gap: 10px;
    font-family:monospace;
    grid-row: 8;
    grid-column: 9 / 12;
    color: aliceblue;
    font-weight: 500;
    font-size: 1rem;
    text-align: right;
    line-height: 1.8;
}

#get-in-touch-details-2{
    display: inline-flex;
    gap: 10px;
    font-family:monospace;
    grid-row: 12;
    grid-column: 2 / 5;
    color: aliceblue;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.8;

}



@media (max-width: 768px) {
  #get-in-touch-title {
    grid-column: 1 / 12;
    font-size: clamp(2rem, 9vw, 3rem);
    line-height: 1.4;
  }

  #get-in-touch-subheader{
    grid-column: 1 / 12;
    font-family: 'Urbanist';
    font-size: clamp(1.1rem, 2vw, 3rem);    
    }

  #get-in-touch-details-1{
     grid-row: 4;
    grid-column: 1 / 8;
    font-family:monospace;
    font-size: clamp(0.8rem, 1.3vw, 3rem);
    }

  #get-in-touch-details-right{
    grid-row: 5;
    grid-column: 6 / 13;
    font-size: clamp(0.8rem, 1.3vw, 3rem);
    text-align: right;
    }

    #get-in-touch-details-2{
    grid-row: 6;
    grid-column: 1 / 8;
    font-size: clamp(0.8rem, 1.3vw, 3rem);
    }


}

