/* Google Font: Urbanist */
body {
    font-family: 'Urbanist', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    background-color: #333;
    z-index: 1000;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between; /* Space between logo and nav */
    align-items: center; /* Center vertically */
    padding: 1rem 2rem;
    background-color: #f7f7f7;
}

.logo {
    font-size: 1.8rem;
    font-weight: 500;
    color: rgb(15, 15, 15);
    text-transform: lowercase;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
}

.nav-list li a {
    text-decoration: none;
    color: rgb(15, 15, 15);
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-list li a:hover {
    color: #996211;
}

section {
    padding: 100px 20px;
    text-align: center;
}

section h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

section p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
    color: #686868;
}

#intro {
    background-color: #f0f0f0;
}

#ux-cases {
    background-color: #eaeaea;
}

#graphic-design {
    background-color: #ddd;
}

#contact {
    background-color: #ccc;
}
